*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* Default styles */
:root{
    --padding-left-right: 170px;
    --background-color: black;
    --illustration-container-color: maroon;
    --button-color: maroon;
    --heading-color: #fff;
    --primary-radius: 20px;
    --text-color: #fff;
}

@media screen and (min-width: 350px){
    /* Body */
    body{
        padding-left: 10px;
        padding-right: 10px;
        background-color: black;
        color: #fff;
    }

    /* Logo */
    #logo{
        width: 150px;
        height: 150px;
    }

    /* Nav Menu */
    .nav-menu{
        padding-top: 20px;
    }

    /* navbar */
    .nav{
        justify-content: flex-end;
        align-items: center;
    }
    .menu{
        display: none;
    }

    /* Hamburger Icon */
    .fa-bars{
        display: block;
        font-size: 48px;
        color: white;
    }
/* ##### HERO SECTION ##### */
.hero-section{
    margin-top: 100px;
}

/* sub-heading */
#sub-heading{
    font-size: 32px; 
}

/* paragraph */
#paragraph{
    font-size: 24px;
    line-height: 40px;
}

/* button */
.get-started-btn{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    color: white;
    background-color: rgb(1, 7, 27);
    border: none;

}

/*  */
}
/* Desktop */
@media screen and (min-width: 1100px){
    /* Nav menu */
    .nav-menu{
        padding-left: var(--padding-left-right);
        padding-right: var(--padding-left-right);
    }

    /* Hero section */
    .hero-section{
        padding-left: var(--padding-left-right);
        padding-right: var(--padding-left-right);
    }

    /* Logo */
    #logo{
        width: 100px;
        height: 100px;
    }

    /* Hamburger Icon */
    #hamburger-icon{
        display: none;
    }
    /* Menu list */
    .menu{
        display: block;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 24px;
        font-weight: bold;
        color: var(--heading-color);
    }

    /* Hover */
    .menu li{
        cursor: pointer;
    }

    .menu li:hover{
        border-bottom: solid var(--heading-color) 3px;
    }

    /* button */
    .get-started-btn{
        background-color: var(--heading-color);
        width: 100%;
        height: 50px;
        border-radius: var(--primary-radius);
        font-size: 24px;
        font-weight: bold;
        color: var(--button-color);
        border: none;
    }

    /* Button hover */
    .get-started-btn:hover{
        background-color: var(--button-color);
    }

    .get-started-btn:focus{
        background-color: var(--heading-color);
        color: var(--button-color);
        box-shadow: none;
    }

