*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* Default styles */
:root{
    --padding-left-right: 170px;
    --background-color: black;
    --illustration-container-color: maroon;
    --button-color: maroon;
    --heading-color: #fff;
    --primary-radius: 20px;
    --text-color: #fff;
}

@media screen and (min-width: 350px){
    /* Body */
    body{
        padding-left: 10px;
        padding-right: 10px;
        background-color: black;
        color: #fff;
    }

    /* Logo */
    #logo{
        width: 150px;
        height: 150px;
    }

    /* Nav Menu */
    .nav-menu{
        padding-top: 20px;
    }

    /* navbar */
    .nav{
        justify-content: flex-end;
        align-items: center;
    }
    .menu{
        display: none;
    }

    /* Hamburger Icon */
    .fa-bars{
        display: block;
        font-size: 48px;
        color: white;
    }
/* ##### HERO SECTION ##### */
.hero-section{
    margin-top: 100px;
}

/* sub-heading */
#sub-heading{
    font-size: 32px; 
}

/* paragraph */
#paragraph{
    font-size: 24px;
    line-height: 40px;
}

/* button */
.get-started-btn{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    color: white;
    background-color: rgb(1, 7, 27);
    border: none;

}

/*  */
}
/* Desktop */
@media screen and (min-width: 1100px){
    /* Nav menu */
    .nav-menu{
        padding-left: var(--padding-left-right);
        padding-right: var(--padding-left-right);
    }

    /* Hero section */
    .hero-section{
        padding-left: var(--padding-left-right);
        padding-right: var(--padding-left-right);
    }

    /* Logo */
    #logo{
        width: 100px;
        height: 100px;
    }

    /* Hamburger Icon */
    #hamburger-icon{
        display: none;
    }
    /* Menu list */
    .menu{
        display: block;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 24px;
        font-weight: bold;
        color: var(--heading-color);
    }

    /* Hover */
    .menu li{
        cursor: pointer;
    }

    .menu li:hover{
        border-bottom: solid var(--heading-color) 3px;
    }

    /* button */
    .get-started-btn{
        background-color: var(--heading-color);
        width: 100%;
        height: 50px;
        border-radius: var(--primary-radius);
        font-size: 24px;
        font-weight: bold;
        color: var(--button-color);
        border: none;
    }

    /* Button hover */
    .get-started-btn:hover{
        background-color: var(--button-color);
    }

    .get-started-btn:focus{
        background-color: var(--heading-color);
        color: var(--button-color);
        box-shadow: none;
    }
     /* icons */
     .icons{
        display: flex;
        gap: 10px;
    }

    .icon{
        height: 50px;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        background-color: var(--button-color);
    }

    /* Icon hover */
    .icon:hover{
        border: var(--heading-color) solid 3px;
    }

    /* ##### HERO SECTION ##### */
    .hero-section{
        margin-top: 100px;
        margin-bottom: 200px;
        align-items: center;
    }

    /* Right column */
    .right-column{
        background-color: var(--illustration-container-color);
        width: 470px;
        height: 470px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
    }

    .right-column > img{
        width: 500px;
        height: 400px;
    }

    .hero-inner{
        gap: 80px;
        align-items: center;
    }
     /* body */
     body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* ##### Select your Pizza section #### */
    .select-pizza{
        margin-top: 100px;
        background-color: white;
        border-top-left-radius: 160px;
        border-top-right-radius: 160px;
        padding-left: var(--padding-left-right);
        padding-right: var(--padding-left-right);
        padding-top: 100px;
        text-align: center;
    }

    /* heading */
    #select-heading{
        font-size: 48px;
        font-weight: bold;
        color: var(--heading-color);
        margin-bottom: 30px;
    }

    /* pizza cards */
    .pizza-card{
        box-shadow: 0px 4px 60px 10px rgba(73,108,216, 0.4);
        padding: 20px;
        width: 240px;
        border-radius: 40px;
    }

    /* Pizza Name on card */
    .card-title{
        font-weight: bold;
        color: var(--button-color);
        margin-top: 20px;
    }

    /* Pizza price */
    .card-body{
        margin-top: -30px;
        color: var(--text-color);
    }

    .card-body span{
        font-weight: bold;
    }

    /* card button */
    .card-button{
        margin-top: -20px;
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        border-radius: 20px;
    }

    /* Pizza second row */
    .pizza-second-row{
        margin-top: 70px;
        margin-bottom: 200px;
        /* scroll-behavior: smooth; */
    }

    /* #### MODAL #### */
    .modal-header{
        border: none;
    }

    .modal-body{
        border: none;
    }

    .modal-footer{
        border: none;
    }

    .modal-content{
        border-radius: 40px;
        padding: 40px;
    }

    /* Modal Header */
    .modal-header-gap{
        display: inline-flex;
        gap: 80px;
    }

    /* radio */
    .radio-label{
        color: var(--button-color);
    }

    .radio-buttons{
        display: inline-flex;
        gap: 20px;
    }

    /* radio button group */
    .radio{
        display: inline-flex;
    }

    #radio-form{
        display: flex;
        gap: 40px;
    }

